<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Add New Todo</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/assets/style.css" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <h1>Login</h1>
    </div>
    <div class="row login-form">
        <div class="col-md-4"></div>
        <div class="col-md-4 centered custom-form">
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input id="username" type="text" name="Username" required/>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input id="password" type="password" name="Password" required/>
                </div>
                <button class="btn btn-success" type="submit">Login</button><a class="btn btn-secondary" href="/register">Register</a>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>