<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Add New Todo</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/assets/style.css" rel="stylesheet" />
</head>
<body>
<div class="header">
    <h1>Registration</h1>
</div>
<div class="row login-form">
    <div class="col-md-4"></div>
    <div class="col-md-4 centered custom-form">
        <form action="/register" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input id="username" type="text" name="Username" required/>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input id="password" type="password" name="Password" required/>
            </div>
            <div class="form-group">
                <label for="confirm_password">Password Again:</label>
                <input id="confirm_password" type="password" name="PasswordVerification" required />
            </div>
            <button class="btn btn-success" type="submit">Register</button><a class="btn btn-secondary" href="/login">Login</a>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>