<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Todo List</title>
</head>
<body>
    <div>
        <h1>TODOS FOR TODAY:</h1>
        <a href="/todo/add">Add new todo</a>
    </div>
    <div>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>ACTION</th>
                <th>DONE</th>
                <th>URGENT</th>
                <th>CREATION DATE</th>
            </tr>
            <tr th:each="todo : ${todos}">
                <td th:text="${todo.id}"></td>
                <td><a th:href="${todo.id} + '/'" th:text="${todo.title}"></a></td>
                <td th:text="${todo.done}"></td>
                <td th:text="${todo.urgent}"></td>
                <td th:text="${todo.createdAt}"></td>
                <td><a th:href="${todo.id} + '/delete'">delete</a></td>
                <td><a th:href="${todo.id} + '/edit'">edit</a></td>
            </tr>
        </table>
    </div>
</body>
</html>