<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add new Todo</title>
    <link href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
    <div>
        <h1 class="main-header">Add Todo</h1>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 custom-form">
            <form action="#" th:action="@{add}" th:object="${todo}" method="post">
                <div class="form-group">
                    <label for="urgent">Urgent: </label>
                    <input type="checkbox" id="urgent"  name="urgent" th:checked="*{urgent}" />
                </div>
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" id="title" class="form-control" placeholder="title"
                           name="title"
                           required />
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
                <a href="/todo/"><button class="btn btn-danger">Cancel</button></a>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
</body>
</html>