<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Programmer Fox Club</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Information</a></li>
        </ul>
    </nav>
    <img th:src="@{greenfox.png}" alt="A fox" />
    <p th:text="'This is ' + ${fox.getName()} +'. ' +
            'Currently living on ' + ${fox.getFood()} +' and ' + ${fox.getDrink()} +'. ' +
            'He knows ' + ${fox.getTricks().size()} +' tricks.'"></p>
    <h1>Known Tricks</h1>
    <p th:text="(${fox.getTricks().size() == 0} ? 'Knows no trick')"></p>
    <ul>
        <li th:each="trick : ${fox.getTricks()}" th:text="${trick}"></li>

    </ul>
</body>
</html>