<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Reddit Clone</title>
    <link href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" rel="stylesheet" />
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h1>Trending Posts</h1>
    </div>
    <div class="post-container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <div class="row" th:each="post : ${posts}">
                    <div class="col-md-1" th:text="${post.score}"></div>
                    <div class="col-md-1">
                        <span>+</span>
                        <span>-</span>
                    </div>
                    <div class="col-md-10" th:text="${post.title}"></div>
                </div>
            </div>
            <div class="col-md-3">
                <a th:href="@{/add}"><button type="button" class="btn">Submit Post</button></a>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="footer">
    </div>
    <script src="webjars/jquery/3.0.0/jquery.js"></script>
    <script src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
</body>
</html>